<div class="left" style="margin-bottom: 5%">
  <h2>Let’s Set Goal - Part 2</h2>
  <br/>

  <form class="center">
    <h2>You and Jared need to save about </h2>
    <h1>$200 per month </h1> 
    <h2>to reach the goal by 01/31/2024 </h2>
    <br/>
    <div style="color: rgba(0, 0, 0, 0.87)">Would you like to proceed?</div>
    <br/>
    <div class="body_buttons">
      <button class="save-button">Save & Exit</button>
      <button class="next-button" routerLink="/status">Confirm</button>
    </div>
  
  </form>
</div>