.hint {
   /* position: static !important;
   margin-bottom: 15px !important; */
   position: initial !important;
   display: block;
   width: 100%;
   margin: 0px !important;
   padding: 0px !important;
   /* display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical; */
 }

 /* .center {
   width: 90%;
   text-align:center;
 }

 .left {
   width: 90%;
   text-align:left;
   padding: 10%;
 } */

 /* tr {
   width: 100%;
 } */

 .container {
   width: 100%;
   padding: 20px;
 }
