<div class="left" style="margin-bottom: 5%">
  <h2>Invite people to Save Together</h2>
  <br/>

  <form class="center">
     <mat-form-field floatLabel="always" [style.width.px]=550>
       <mat-label>Invite People</mat-label>

       <input type="text"
              placeholder="@name"
              aria-label="Number"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
              style="color: black">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let name of filteredNames | async" [value]="name">
            {{ name }}
          </mat-option>
        </mat-autocomplete>
     </mat-form-field>

    <br/>
    <div class="body_buttons" style="margin-top: 3%">
      <button class="save-button">Save & Exit</button>
      <button class="next-button" (click)="updatePage('/set-goal')">Next</button>
    </div>
  
   </form>
</div>

