<div class="registration">
   
   <div class="side-bar">
      <mat-nav-list *ngFor="let item of listItems" 
               (click)="handleClick(item)" >
         <a class="side-bar-item"
            [ngClass]="{'blue' : item.clicked, 'white': !item.clicked}">
               {{item.title}}
            </a>
            <hr/>
       </mat-nav-list>
   </div>
      
   <div class="display">
      <div class="selectedItem" *ngIf="selectedLink == listItems[0].link">
         <app-link-bank-account class="selectedItem" (updatePageEvent)="listenForUpdatePageEvent($event)"></app-link-bank-account>
      </div>
      <div class="selectedItem" *ngIf="selectedLink == listItems[1].link">
         <app-invite-people class="selectedItem" (updatePageEvent)="listenForUpdatePageEvent($event)"></app-invite-people>
      </div>
      <div class="selectedItem" *ngIf="selectedLink == listItems[2].link">
         <app-set-goal class="selectedItem" (updatePageEvent)="listenForUpdatePageEvent($event)"></app-set-goal>
      </div>
      <div class="selectedItem" *ngIf="selectedLink == listItems[3].link">
         <app-set-goal-2 class="selectedItem" (updatePageEvent)="listenForUpdatePageEvent($event)"></app-set-goal-2>
      </div>
   </div>
</div>
