/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 

h2 {
   font-weight: normal !important;
} 

h1 {
   font-weight: normal !important;
}

.main_buttons {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}

.body_buttons {
   display: flex;
   align-items: right;
   justify-content: right;
   gap: 16px;
}

.save-button {
   border: none;
   display: flex;
   padding: 6px 8px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   background: var(--primary-main, clear);
   color: var(--primary-main, #2196F3);
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.4px;
   text-transform: capitalize;
}

.next-button {
   border: none;
   display: flex;
   padding: 6px 16px;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   border-radius: 4px;
   background: var(--primary-main, #2196F3);
   color: var(--primary-main, #FFF);
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.4px;
   text-transform: capitalize;
}

textarea {
   padding-top: 30px  !important;
   padding-bottom: 5px  !important;
}

.mdc-text-field {
   padding: 0px !important;
   background-color: white !important;
}

.center {
   width: 90%;
   text-align:center;
 }

 .left {
   width: 90%;
   text-align:left;
   padding: 10%;
 }

 .right {
   width: 90%;
   text-align:right;
   padding: 10%;
 }

 ::ng-deep .mdc-form-field-hint-wrapper {
   padding: 0px !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input::placeholder {
   color: rgba(0, 0, 0, 0.42) !important;
}